[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "themes/profile"]
	path = themes/profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "static/particles"]
	path = static/particles
	url = https://github.com/VincentGarreau/particles.js.git
