<style>

@media (min-width: 768px) {
  .wave {
    animation: moveTheWave 90000ms linear infinite;
  }
}

@media (max-width: 767px) {
  .wave {
    animation: moveTheWave 30000ms linear infinite;
  }
}

 
@keyframes moveTheWave {
/*
  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }

  100% {
    stroke-dashoffset: -135;
    transform: translate3d(-90px, 0, 0);
  }
*/

  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }

  100% {
    stroke-dashoffset: 1;
    transform: translate3d(-278px, 0, 0);
  }


} 
</style>

<div  class="cont" style=" ">
		<div class="dot">
						<svg width="100%" height="auto" viewBox="0 0 290 30">
					    <path class="wave" fill="none" stroke="#5F8575" stroke-width="1" stroke-linecap="round" 
					    d="
                 M0.100 25
                 
	               c38
                 0 45-20 75-20s50
                 20 75 20
                 c38
                 0 45-5 75-20s50
                 20 75 20
                 c38 
                 0 45-20 75-20s50
                 20 75 20
                 c38 
                 0 45-20 75-20s50
                 20 75 20

					    " >
					    </path>
					  </svg>
					</div>
	</div>
